.font {
  --font: 16px / 1 sans-serif;
}
.picker-container {
  display: flex;
  flex-direction: column;
  border: 5px solid rgb(57, 54, 54);
  padding: 1rem;
  margin: 5rem;
  box-sizing: border-box;
  background-color: azure !important;
}

.slider-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  /* why not working? ---> margin: var(--font);*/
  margin: 12px;
}

.slider-labels {
  text-align: center;
  padding-top: 0;
}

h1 {
  text-align: center;
  font-size: 2.5rem;
  margin: 4;
}
