.picker-container {
  display: flex;
  flex-direction: column;

  border: 5px solid rgb(57, 54, 54);
  padding: 1rem;
  margin: 5rem;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  font-size: 1.5rem;
  padding: var(font-size);
  margin: 0;
}
